.table.b-table th:focus {
    outline: none;
}
.table.b-table > tfoot > tr > th[aria-sort][aria-sort="ascending"]:after,
.table.b-table > thead > tr > th[aria-sort][aria-sort="ascending"]:after {
    opacity: 1;
    content: "↓";
}
.table.b-table > tfoot > tr > th[aria-sort][aria-sort="descending"]:after,
.table.b-table > thead > tr > th[aria-sort][aria-sort="descending"]:after {
    opacity: 1;
    content: "↑";
}
.table.b-table > tfoot > tr > th[aria-sort]:after,
.table.b-table > thead > tr > th[aria-sort]:after {
    display: inline-block;
    // float: right;
    margin-left: 0.5em;
    width: 0.5em;
    font-size: inherit;
    line-height: inherit;
    opacity: 0.4;
    content: "↕";
}
