// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~material-design-icons-iconfont/src/material-design-icons";
@import "tables";
i.material-icons {
    font-size: 0.8rem;
}
body{
    font-size: $font-size-base;
}
[title]{
    cursor: pointer;
}
tr td {
    min-width: 50px;
}
