<template>
    <div>
        <replace-or-edit
            :value="address.full_address"
            :alt="clean_val"
            :attention="need_check"
            @update:value="updateAddress"
        >
        </replace-or-edit>
        <b-button :id="`address-info-${type}-${address.id}`" variant="info" size="sm" v-if="clean_val">i</b-button>

        <b-popover :target="`address-info-${type}-${address.id}`" triggers="click" v-if="clean_val">
            <template slot="title">Доп инфо</template>
            <dl>
                <dt>Результат проверки</dt>
                <dd>{{clean_state}}</dd>
                <dt v-if="clean.unparsed_parts">Нераспознанная часть адреса</dt>
                <dd v-if="clean.unparsed_parts">{{unparsed_parts}}</dd>
                <dt v-if="clean.postal_code">Почтовый индекс</dt>
                <dd v-if="clean.postal_code">{{clean.postal_code}}</dd>
                <dt v-if="clean.country">Страна</dt>
                <dd v-if="clean.country">{{clean.country}}</dd>
                <dt v-if="clean.country_iso_code">Код страны</dt>
                <dd v-if="clean.country_iso_code">{{clean.country_iso_code}}</dd>
                <dt v-if="clean.federal_district">Федеральный округ</dt>
                <dd v-if="clean.federal_district">{{clean.federal_district}}</dd>
                <dt v-if="clean.region_fias_id">ФИАС-код региона</dt>
                <dd v-if="clean.region_fias_id">{{clean.region_fias_id}}</dd>
                <dt v-if="clean.region_kladr_id">КЛАДР-код региона</dt>
                <dd v-if="clean.region_kladr_id">{{clean.region_kladr_id}}</dd>
                <dt v-if="clean.region_iso_code">ISO-код региона</dt>
                <dd v-if="clean.region_iso_code">{{clean.region_iso_code}}</dd>
                <dt v-if="clean.region_with_type">Регион с типом</dt>
                <dd v-if="clean.region_with_type">{{clean.region_with_type}}</dd>

                <dt v-if="clean.region_type">Тип региона (сокращенный)</dt>
                <dd v-if="clean.region_type">{{clean.region_type}}</dd>
                <dt v-if="clean.region_type_full">Тип региона</dt>
                <dd v-if="clean.region_type_full">{{clean.region_type_full}}</dd>
                <dt v-if="clean.region">Регион</dt>
                <dd v-if="clean.region">{{clean.region}}</dd>
                <dt v-if="clean.area_fias_id">ФИАС-код района</dt>
                <dd v-if="clean.area_fias_id">{{clean.area_fias_id}}</dd>
                <dt v-if="clean.area_kladr_id">КЛАДР-код района</dt>
                <dd v-if="clean.area_kladr_id">{{clean.area_kladr_id}}</dd>
                <dt v-if="clean.area_with_type">Район в регионе с типом</dt>
                <dd v-if="clean.area_with_type">{{clean.area_with_type}}</dd>
                <dt v-if="clean.area_type">Тип района в регионе (сокращенный)</dt>
                <dd v-if="clean.area_type">{{clean.area_type}}</dd>
                <dt v-if="clean.area_type_full">Тип района в регионе</dt>
                <dd v-if="clean.area_type_full">{{clean.area_type_full}}</dd>

                <dt v-if="clean.region_type">Тип региона (сокращенный)</dt>
                <dd v-if="clean.region_type">{{clean.region_type}}</dd>
                <dt v-if="clean.region_type_full">Тип региона</dt>
                <dd v-if="clean.region_type_full">{{clean.region_type_full}}</dd>
                <dt v-if="clean.region">Регион</dt>
                <dd v-if="clean.region">{{clean.region}}</dd>
                <dt v-if="clean.area_fias_id">ФИАС-код района</dt>
                <dd v-if="clean.area_fias_id">{{clean.area_fias_id}}</dd>
                <dt v-if="clean.area_kladr_id">КЛАДР-код района</dt>
                <dd v-if="clean.area_kladr_id">{{clean.area_kladr_id}}</dd>
                <dt v-if="clean.area_with_type">Район в регионе с типом</dt>
                <dd v-if="clean.area_with_type">{{clean.area_with_type}}</dd>
                <dt v-if="clean.area_type">Тип района в регионе (сокращенный)</dt>
                <dd v-if="clean.area_type">{{clean.area_type}}</dd>
                <dt v-if="clean.area_type_full">Тип района в регионе</dt>
                <dd v-if="clean.area_type_full">{{clean.area_type_full}}</dd>

                <dt v-if="clean.area_type_full">Тип района в регионе</dt>
                <dd v-if="clean.area_type_full">{{clean.area_type_full}}</dd>
                <dt v-if="clean.area">Район в регионе</dt>
                <dd v-if="clean.area">{{clean.area}}</dd>
                <dt v-if="clean.city_fias_id">ФИАС-код города</dt>
                <dd v-if="clean.city_fias_id">{{clean.city_fias_id}}</dd>
                <dt v-if="clean.city_kladr_id">КЛАДР-код города</dt>
                <dd v-if="clean.city_kladr_id">{{clean.city_kladr_id}}</dd>
                <dt v-if="clean.city_with_type">Город с типом</dt>
                <dd v-if="clean.city_with_type">{{clean.city_with_type}}</dd>
                <dt v-if="clean.city_type">Тип города (сокращенный)</dt>
                <dd v-if="clean.city_type">{{clean.city_type}}</dd>
                <dt v-if="clean.city_type_full">Тип города</dt>
                <dd v-if="clean.city_type_full">{{clean.city_type_full}}</dd>
                <dt v-if="clean.city">Город</dt>
                <dd v-if="clean.city">{{clean.city}}</dd>
                <dt v-if="clean.city_area">Административный округ (только для Москвы)</dt>
                <dd v-if="clean.city_area">{{clean.city_area}}</dd>
                <dt v-if="clean.city_district_fias_id">ФИАС-код района города (заполняется, только если район есть в
                    ФИАС)
                </dt>
                <dd v-if="clean.city_district_fias_id">{{clean.city_district_fias_id}}</dd>
                <dt v-if="clean.city_district_kladr_id">КЛАДР-код района города (не заполняется)</dt>
                <dd v-if="clean.city_district_kladr_id">{{clean.city_district_kladr_id}}</dd>
                <dt v-if="clean.city_district_with_type">Район города с типом</dt>
                <dd v-if="clean.city_district_with_type">{{clean.city_district_with_type}}</dd>
                <dt v-if="clean.city_district_type">Тип района города (сокращенный)</dt>
                <dd v-if="clean.city_district_type">{{clean.city_district_type}}</dd>
                <dt v-if="clean.city_district_type_full">Тип района города</dt>
                <dd v-if="clean.city_district_type_full">{{clean.city_district_type_full}}</dd>
                <dt v-if="clean.city_district">Район города</dt>
                <dd v-if="clean.city_district">{{clean.city_district}}</dd>
                <dt v-if="clean.settlement_fias_id">ФИАС-код населенного пункта</dt>
                <dd v-if="clean.settlement_fias_id">{{clean.settlement_fias_id}}</dd>
                <dt v-if="clean.settlement_kladr_id">КЛАДР-код населенного пункта</dt>
                <dd v-if="clean.settlement_kladr_id">{{clean.settlement_kladr_id}}</dd>
                <dt v-if="clean.settlement_with_type">Населенный пункт с типом</dt>
                <dd v-if="clean.settlement_with_type">{{clean.settlement_with_type}}</dd>
                <dt v-if="clean.settlement_type">Тип населенного пункта (сокращенный)</dt>
                <dd v-if="clean.settlement_type">{{clean.settlement_type}}</dd>
                <dt v-if="clean.settlement_type_full">Тип населенного пункта</dt>
                <dd v-if="clean.settlement_type_full">{{clean.settlement_type_full}}</dd>
                <dt v-if="clean.settlement">Населенный пункт</dt>
                <dd v-if="clean.settlement">{{clean.settlement}}</dd>
                <dt v-if="clean.street_fias_id">ФИАС-код улицы</dt>
                <dd v-if="clean.street_fias_id">{{clean.street_fias_id}}</dd>
                <dt v-if="clean.street_kladr_id">КЛАДР-код улицы</dt>
                <dd v-if="clean.street_kladr_id">{{clean.street_kladr_id}}</dd>
                <dt v-if="clean.street_with_type">Улица с типом</dt>
                <dd v-if="clean.street_with_type">{{clean.street_with_type}}</dd>
                <dt v-if="clean.street_type">Тип улицы (сокращенный)</dt>
                <dd v-if="clean.street_type">{{clean.street_type}}</dd>
                <dt v-if="clean.street_type_full">Тип улицы</dt>
                <dd v-if="clean.street_type_full">{{clean.street_type_full}}</dd>
                <dt v-if="clean.street">Улица</dt>
                <dd v-if="clean.street">{{clean.street}}</dd>
                <dt v-if="clean.house_fias_id">ФИАС-код дома</dt>
                <dd v-if="clean.house_fias_id">{{clean.house_fias_id}}</dd>
                <dt v-if="clean.house_kladr_id">КЛАДР-код дома</dt>
                <dd v-if="clean.house_kladr_id">{{clean.house_kladr_id}}</dd>
                <dt v-if="clean.house_type">Тип дома (сокращенный)</dt>
                <dd v-if="clean.house_type">{{clean.house_type}}</dd>
                <dt v-if="clean.house_type_full">Тип дома</dt>
                <dd v-if="clean.house_type_full">{{clean.house_type_full}}</dd>
                <dt v-if="clean.house">Дом</dt>
                <dd v-if="clean.house">{{clean.house}}</dd>
                <dt v-if="clean.block_type">Тип корпуса/строения (сокращенный)</dt>
                <dd v-if="clean.block_type">{{clean.block_type}}</dd>
                <dt v-if="clean.block_type_full">Тип корпуса/строения</dt>
                <dd v-if="clean.block_type_full">{{clean.block_type_full}}</dd>
                <dt v-if="clean.block">Корпус/строение</dt>
                <dd v-if="clean.block">{{clean.block}}</dd>
                <dt v-if="clean.flat_type">Тип квартиры (сокращенный)</dt>
                <dd v-if="clean.flat_type">{{clean.flat_type}}</dd>
                <dt v-if="clean.flat_type_full">Тип квартиры</dt>
                <dd v-if="clean.flat_type_full">{{clean.flat_type_full}}</dd>
                <dt v-if="clean.flat">Квартира</dt>
                <dd v-if="clean.flat">{{clean.flat}}</dd>
                <dt v-if="clean.flat_area">Площадь квартиры</dt>
                <dd v-if="clean.flat_area">{{clean.flat_area}}</dd>
                <dt v-if="clean.square_meter_price">Рыночная стоимость м²</dt>
                <dd v-if="clean.square_meter_price">{{clean.square_meter_price}}</dd>
                <dt v-if="clean.flat_price">Рыночная стоимость квартиры</dt>
                <dd v-if="clean.flat_price">{{clean.flat_price}}</dd>
                <dt v-if="clean.postal_box">Абонентский ящик</dt>
                <dd v-if="clean.postal_box">{{clean.postal_box}}</dd>
                <dt v-if="clean.fias_id">ФИАС-код адреса (идентификатор ФИАС)</dt>
                <dd v-if="clean.fias_id">{{clean.fias_id}}</dd>
                <dt v-if="clean.fias_code">Иерархический код адреса в ФИАС (СС+РРР+ГГГ+ППП+СССС+УУУУ+ДДДД)</dt>
                <dd v-if="clean.fias_code">{{clean.fias_code}}</dd>
                <dt>Уровень детализации, до которого адрес найден в ФИАС</dt>
                <dd>{{fias_level}}</dd>
                <dt>Признак актуальности адреса в ФИАС</dt>
                <dd>{{fias_actuality_state}}</dd>
                <dt v-if="clean.kladr_id">КЛАДР-код адреса</dt>
                <dd v-if="clean.kladr_id">{{clean.kladr_id}}</dd>
                <dt v-if="clean.capital_marker">Признак центра района или региона</dt>
                <dd v-if="clean.capital_marker">{{capital_marker}}</dd>
                <dt v-if="clean.okato">Код ОКАТО</dt>
                <dd v-if="clean.okato">{{clean.okato}}</dd>

                <dt v-if="clean.tax_office">Код ИФНС для физических лиц</dt>
                <dd v-if="clean.tax_office">{{clean.tax_office}}</dd>

                <dt v-if="clean.tax_office_legal">Код ИФНС для организаций</dt>
                <dd v-if="clean.tax_office_legal">{{clean.tax_office_legal}}</dd>
                <dt v-if="clean.tax_office_legal">Код ИФНС для организаций</dt>
                <dd v-if="clean.tax_office_legal">{{clean.tax_office_legal}}</dd>
                <dt v-if="clean.timezone">Часовой пояс города для Росии, часовой пояс страны — для иностранных адресов.
                    Если у страны
                    несколько поясов, вернёт минимальный и максимальный
                </dt>
                <dd v-if="clean.timezone">{{clean.timezone}}</dd>
                <dt v-if="clean.geo_lat">Координаты: широта</dt>
                <dd v-if="clean.geo_lat">{{clean.geo_lat}}</dd>
                <dt v-if="clean.geo_lon">Координаты: долгота</dt>
                <dd v-if="clean.geo_lon">{{clean.geo_lon}}</dd>

                <dt v-if="clean.beltway_hit">Внутри кольцевой?</dt>
                <dd v-if="clean.beltway_hit">{{clean.beltway_hit}}</dd>
                <dt v-if="clean.beltway_distance">Расстояние от кольцевой в км.</dt>
                <dd v-if="clean.beltway_distance">{{clean.beltway_distance}}</dd>

                <dt v-if="clean.qc_geo">Код точности координат</dt>
                <dd v-if="clean.qc_geo">{{clean.qc_geo}}</dd>
                <dt v-if="clean.qc_complete">Код пригодности к рассылке</dt>
                <dd v-if="clean.qc_complete">{{clean.qc_complete}}</dd>

                <dt v-if="clean.metro">Ближайшие метро</dt>
                <dd v-if="clean.metro">{{clean.metro}}</dd>
            </dl>
        </b-popover>
    </div>
</template>

<script>
    import ReplaceOrEdit from "./ReplaceOrEdit";

    export default {
        name: "ClientAddress",
        components: {ReplaceOrEdit},
        props: {
            address: {
                type:Object,
                default:()=>{return {}},
            },
            type: String,
        },
        data() {
            return {}
        },
        computed: {
            need_check() {
                return (!this.address || (this.address.qc !== 0 && this.address.qc !== 2));
            },
            complete_status() {
                return (this.address && (this.address.qc_complete === 0));
            },
            clean(){
              return this.address;
            },
            clean_state() {
                switch (this.address.qc) {
                    case 0: {
                        return "Адрес распознан уверенно";
                    }
                    case 2: {
                        return "Адрес пустой или заведомо «мусорный»";
                    }
                    case 1: {
                        return "Остались «лишние» части. Пример: «109341 Тверская область Москва Верхние Поля» — здесь лишняя «Тверская область».";
                    }
                    case 3: {
                        return "Есть альтернативные варианты. Пример: «Москва Тверская-Ямская» — в Москве четыре Тверских-Ямских улицы.";
                    }
                }
            },
            qc_complete() {
                switch (this.address.qc_complete) {
                    case 0: {
                        return "Пригоден для почтовой рассылки";
                    }
                    case 10: {
                        return "ома нет в ФИАС";
                    }
                    case 5: {
                        return "Нет квартиры. Подходит для юридических лиц или частных владений";
                    }
                    case 8: {
                        return "До почтового отделения — абонентский ящик или адрес до востребования. Подходит для писем, но не для курьерской доставки.";
                    }
                    case 9: {
                        return "Сначала проверьте, правильно ли Дадата разобрала исходный адрес";
                    }
                    case 1: {
                        return "Нет региона";
                    }
                    case 2: {
                        return "Нет города";
                    }
                    case 3: {
                        return "Нет улицы";
                    }
                    case 4: {
                        return "Нет дома";
                    }
                    case 6: {
                        return "Адрес неполный";
                    }
                    case 7: {
                        return "Иностранный адрес";
                    }
                }
            },
            clean_status() {
                if (this.clean_val === null) return;
                if (!this.address) return;
                let reg = new RegExp(/[., ]/g);
                let clean = this.clean_val.replace(reg, '');
                let address = this.address.full_address.replace(reg, '');
                return clean !== address && clean !== address;
            },
            clean_val() {
                return (this.address && this.address.qc !== null && this.address.qc !== 2) ? `${this.address.postal_code}, ${this.address.result}` : ``;
            },
            fias_level() {
                switch (this.address.fias_level) {
                    case 0:
                        return "страна";
                    case 1:
                        return "регион";
                    case 3:
                        return "район";
                    case 4:
                        return "город";
                    case 5:
                        return "район города";
                    case 6:
                        return "населенный пункт";
                    case 7:
                        return "улица";
                    case 8:
                        return "дом";
                    case 65:
                        return "планировочная структура";
                    case 90:
                        return "доп. территория";
                    case 91:
                        return "улица в доп. территории";
                    case -1:
                        return "иностранный или пустой";
                }
            },
            fias_actuality_state() {
                switch (this.address.fias_actualize_state) {
                    case 0:
                        return "актуальный";
                    case 51:
                        return "переподчинен";
                    case 99:
                        return "удален";
                }
                if (this.address.fias_actualize_state >= 1 && this.address.fias_actualize_state <= 50) return "переименован";
            },
            capital_marker() {
                switch (this.address.capital_marker) {
                    case 1:
                        return "центр района";
                    case 2:
                        return "центр региона";
                    case 3:
                        return "центр района и региона";
                    case 4:
                        return "центральный район региона";
                    case 0:
                        return "ничего из перечисленного";
                }
            },
            beltway_hit() {
                switch (this.address.beltway_hit) {
                    case "IN_MKAD":
                        return "внутри МКАД (Москва)";
                    case "OUT_MKAD":
                        return "за МКАД (Москва и область)";
                    case "IN_KAD":
                        return "внутри КАД (Санкт-Петербург)";
                    case "OUT_KAD":
                        return "за КАД (Санкт-Петербург и область)";
                }
            },
            gc_geo() {
                switch (this.address.gc_geo) {
                    case 0:
                        return "Точные координаты";
                    case 1:
                        return "Ближайший дом";
                    case 2:
                        return "Улица";
                    case 3:
                        return "Населенный пункт";
                    case 4:
                        return "Город";
                    case 5:
                        return "Координаты не определены";
                }
            },
        },
        methods:{
            updateAddress(event){
                let address = {...this.address};
                let http = this.getHttp();
                let route = this.getRoute()('address.update');
                let fields = [
                    {key: "full_address", value: event}
                ];
                http({
                    method: route.method,
                    url: route.api.replace(':id', address.id),
                    data: {
                        'entity': 'address',
                        'id': address.id,
                        fields
                    },
                }).then(data => {
                    this.$emit('update:address', data.data.address);
                })
                    .catch(() => {
                        //TODO show error
                    });
            }
        }
    }
</script>

<style scoped>

</style>
