<template>
    <div class="client-list">
        <b-pagination
            v-model="currentPage"
            :total-rows="getTotal()"
            :per-page="perPage"
            aria-controls="client-table"
        ></b-pagination>
        <p class="mt-3">Current Page: {{ currentPage }}</p>
        <b-table
            ref="client-table"
            :items="getClients"
            :fields="fields"
            :api-url="apiUrl"
            id="client-table"
            :per-page="perPage"
            :current-page="currentPage"
            small
            :bordered="true"
            :foot-clone="true"
            primary-key="u_id"
            :tbody-tr-class="'client-row'"
        >
            <template slot="u_type" slot-scope="data">
                {{getUType(data.value)}}
            </template>
            <template slot="u_sex" slot-scope="data">
                <span :class="getSexClass(data.item)">{{getSex(data.value)}}</span>
            </template>
            <template slot="tourist_kind" slot-scope="data">
                {{getTouristKind(data.value)}}
            </template>
            <!--region Names -->
            <template slot="u_surname" slot-scope="data">
                <replace-or-edit class="min-w-100" :value="data.value" :alt="getCleanSurName(data.item)"
                                 @update:value="updateClient({id:data.item.u_id, key:'u_surname',value:$event})">
                </replace-or-edit>
            </template>
            <template slot="u_name" slot-scope="data">
                <replace-or-edit class="min-w-100" :value="data.value" :alt="getCleanName(data.item)"
                                 @update:value="updateClient({id:data.item.u_id, key:'u_name',value:$event})">
                </replace-or-edit>
            </template>
            <template slot="u_sname" slot-scope="data">
                <replace-or-edit class="min-w-100" :value="data.value" :alt="getCleanSName(data.item)"
                                 @update:value="updateClient({id:data.item.u_id, key:'u_sname',value:$event})">
                </replace-or-edit>
            </template>
            <!-- endregion --->
            <!--region EN Names -->
            <template slot="u_surname_en" slot-scope="data">
                <editable class="min-w-100" :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_surname_en',value:$event})">
                </editable>
            </template>
            <template slot="u_name_en" slot-scope="data">
                <editable class="min-w-100" :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_name_en',value:$event})">
                </editable>
            </template>
            <!--endregion -->
            <template slot="emails" slot-scope="data">
                <email-list :emails="data.value"
                            @update:email="updateLocal({index:data.item.u_id, index_name: 'u_id', fields:[{key:'emails', value:$event}]})">
                </email-list>
            </template>
            <!--region Phones-->
            <template slot="phone" slot-scope="data">
                <phone v-if="data.value" :phone="data.value" type=""
                       @update:phone="updateLocal({index:data.item.u_id, index_name: 'u_id', fields:[{key:'phone', value:$event}]})"
                ></phone>
            </template>
            <template slot="mobile_phone" slot-scope="data">
                <phone v-if="data.value" :phone="data.value" type="mob"
                       @update:phone="updateLocal({index:data.item.u_id, index_name: 'u_id', fields:[{key:'mobile_phone', value:$event}]})">
                </phone>
            </template>
            <template slot="home_phone" slot-scope="data">
                <phone v-if="data.value" :phone="data.value" type="home"
                       @update:phone="updateLocal({index:data.item.u_id, index_name: 'u_id', fields:[{key:'home_phone', value:$event}]})">
                </phone>
            </template>
            <!--endregion-->
            <template slot="u_fax" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_fax',value:$event})">
                </editable>
            </template>
            <template slot="address" slot-scope="data">
                <client-address v-if="data.value" :item-id="data.item.id" :address="data.value" type="personal"
                                @update:address="updateLocal({index:data.item.u_id, index_name: 'u_id', fields:[{key:'address', value:$event}]})">

                </client-address>
            </template>
            <template slot="u_passport_number" slot-scope="data">
                <passport_ru :item="data.item"
                             @update:passport="updateClient($event)"
                ></passport_ru>
            </template>
            <template slot="u_zagran_number" slot-scope="data">
                <passport-zagran :item="data.item" @update:passport="updateClient($event)"></passport-zagran>
            </template>
            <template slot="birthday" slot-scope="data">
                <edit-date :value="data.value"
                           @update:value="updateClient({id:data.item.u_id, key:'birthday',value:$event})"></edit-date>
            </template>
            <template slot="u_birthday_place" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_birthday_place',value:$event})">
                </editable>
            </template>
            <template slot="u_birthday_certificate" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_birthday_certificate',value:$event})">
                </editable>
            </template>
            <template slot="u_birthday_certificate" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_birthday_certificate',value:$event})">
                </editable>
            </template>
            <template slot="u_social_vk" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_social_vk',value:$event})">
                </editable>
            </template>
            <template slot="u_social_fb" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_social_fb',value:$event})">
                </editable>
            </template>
            <template slot="u_social_ok" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_social_ok',value:$event})">
                </editable>
            </template>
            <template slot="u_telegram" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_telegram',value:$event})">
                </editable>
            </template>
            <template slot="u_whatsapp" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_whatsapp',value:$event})">
                </editable>
            </template>
            <template slot="u_instagram" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_instagram',value:$event})">
                </editable>
            </template>
            <template slot="u_image" slot-scope="data">
                {{data.value}}
            </template>
            <template slot="u_note" slot-scope="data">
                <editable :value="data.value" :text-aria="true"
                          @update:value="updateClient({id:data.item.u_id, key:'u_note',value:$event})">
                </editable>
            </template>
            <template slot="timezone" slot-scope="data">
                {{data.value}}
            </template>
            <template slot="u_postition" slot-scope="data">
                {{data.value}}
            </template>
            <!-- region UrAddress -->
            <template slot="u_company" slot-scope="data">
                <editable :value="data.value" :text-aria="true"
                          @update:value="updateClient({id:data.item.u_id, key:'u_company',value:$event})">
                </editable>
            </template>
            <template slot="u_inn" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_inn',value:$event})">
                </editable>
            </template>
            <template slot="u_kpp" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_kpp',value:$event})">
                </editable>
            </template>
            <template slot="u_okved" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_okved',value:$event})">
                </editable>
            </template>
            <template slot="u_ogrn" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_ogrn',value:$event})">
                </editable>
            </template>
            <template slot="legal_address" slot-scope="data">
                <client-address v-if="data.value" :item-id="data.item.id" :address="data.value" type="jur"
                                @update:address="updateClient({id:data.item.u_id, key:'legal_address',value:$event})"></client-address>
            </template>
            <template slot="u_finance_bank" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_finance_bank',value:$event})">
                </editable>
            </template>
            <template slot="u_finance_rs" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_finance_rs',value:$event})">
                </editable>
            </template>
            <template slot="u_finance_ks" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_finance_ks',value:$event})">
                </editable>
            </template>
            <template slot="u_finance_bik" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_finance_bik',value:$event})">
                </editable>
            </template>
            <template slot="u_finance_okpo" slot-scope="data">
                <editable :value="data.value"
                          @update:value="updateClient({id:data.item.u_id, key:'u_finance_okpo',value:$event})">
                </editable>
            </template>

            <!-- endregion UrAddress -->
            <template slot="u_manager_status" slot-scope="data">
                {{data.value}}
            </template>
            <template slot="manager" slot-scope="data">
                <manager-short :manager="data.value"></manager-short>
            </template>
        </b-table>
        <b-pagination
            v-model="currentPage"
            :total-rows="getTotal()"
            :per-page="perPage"
            aria-controls="client-table"
        ></b-pagination>
        <p class="mt-3">Current Page: {{ currentPage }}</p>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import FullName from "./FullName";
    import phone from "./Phone";
    import Passport_ru from "./PassportRu";
    import ClientAddress from "./ClientAddress";
    import PassportZagran from "./PassportZagran";
    import ManagerShort from "./ManagerShort";
    import ReplaceOrEdit from "./ReplaceOrEdit";
    import Editable from "./Editable";
    import EditDate from "./EditDate";
    import EmailList from "./EmailList";

    export default {
        name: "ClientList",
        components: {
            EmailList,
            EditDate,
            Editable,
            ReplaceOrEdit,
            ManagerShort,
            PassportZagran,
            ClientAddress,
            Passport_ru,
            phone,
            FullName
        },
        data() {
            return {
                fields: {
                    //   id:{},
                    //   global_u_id:{},
                    u_id: {
                        label: "#",
                        sortable: true,
                    },
                    u_type: {
                        label: "Тип записи",
                        sortable: true,

                    },
                    u_sex: {
                        label: "Пол",
                        sortable: true,
                    },
                    tourist_kind: {
                        label: "Обращение",
                        sortable: true,
                    },
                    u_surname: {
                        label: "Фамилия",
                        sortable: true,
                    },
                    u_name: {
                        label: "Имя",
                        sortable: true,
                    },
                    u_sname: {
                        label: "Отчество",
                        sortable: true,
                    },
                    u_surname_en: {
                        label: "Surname",
                        sortable: true,
                    },
                    u_name_en: {
                        label: "Name",
                        sortable: true,
                    },
                    emails: {label: "E-mail", sortable: true},
                    phone: {
                        label: "Телефон",
                        sortable: true,
                    },
                    mobile_phone: {
                        label: "Мобильный",
                        sortable: true,
                    },
                    home_phone: {
                        label: "Домашний",
                        sortable: true,
                    },
                    u_fax: {label: "Fax", sortable: true},
                    address: {
                        label: "Адрес",
                        sortable: true,
                    },
                    u_passport_number: {
                        label: "Паспорт",
                        sortable: true,
                    },
                    /*     u_passport_taken: {},
                          u_passport_date: {},*/
                    u_zagran_number: {
                        label: "Загран",
                        sortable: true,
                    },
                    /* u_zagran_number: {},
                     u_zagran_given: {},
                     u_zagran_expire: {},
                     u_zagran_organization: {},*/

                    birthday: {
                        'label': "День рождения",
                        sortable: true,
                    },
                    u_birthday_place: {
                        'label': "Место рождения",
                        sortable: true,
                    },
                    u_birthday_certificate: {
                        'label': "Свидетельство о рождении",
                        sortable: true,
                    },


                    u_social_vk: {
                        label: "VK",
                        sortable: true,
                    },
                    u_social_fb: {
                        label: "Fb",
                        sortable: true,
                    },
                    u_social_ok: {
                        label: "OK",
                        sortable: true,
                    },
                    u_telegram: {
                        label: "Телеграм",
                        sortable: true,
                    },
                    u_whatsapp: {
                        label: "Whatsapp",
                        sortable: true,
                    },
                    u_viber: {
                        label: "Viber",
                        sortable: true,
                    },
                    u_instagram: {
                        label: "Instagram",
                        sortable: true,
                    },
                    /* u_discount_card_number: {},
                     u_discount_card_bonus: {},*/
                    u_image: {
                        label: "Изображение",
                        sortable: true,
                    },
                    u_note: {
                        label: "Заметки",
                        sortable: true,
                    },
                    timezone: {
                        label: "Часовой пояс",
                        sortable: true,
                    },
                    u_position: {
                        label: "Позиция",
                        sortable: true,
                    },

                    u_company: {
                        label: "Компания",
                        sortable: true,
                    },
                    u_inn: {
                        label: "ИНН",
                        sortable: true,
                    },
                    u_kpp: {
                        label: "КПП",
                        sortable: true,
                    },
                    u_okved: {
                        label: "ОКВД",
                        sortable: true,
                    },
                    u_ogrn: {
                        label: "ОГРН",
                        sortable: true,
                    },


                    legal_address: {
                        label: "Юр. адрес",
                        sortable: true,
                    },
                    u_finance_bank: {
                        label: "Банк",
                        sortable: true,
                    },
                    u_finance_rs: {
                        label: "РС",
                        sortable: true,
                    },
                    u_finance_ks: {
                        label: "КС",
                        sortable: true,
                    },
                    u_finance_bik: {
                        label: "БИК",
                        sortable: true,
                    },
                    u_finance_okpo: {
                        label: "ОКПО",
                        sortable: true,
                    },
                    delivery_subscription: {
                        label: "Рассылка",
                        sortable: true,
                    },
                    role_id: {
                        label: "Роль",
                        sortable: true,
                    },
                    office_id: {
                        label: "Офис",
                        sortable: true,
                    },
                    //  u_office_id: {label:"Офис"},
                    active: {
                        label: "Актив",
                        sortable: true,
                    },
                    deleted: {
                        label: "Удален",
                        sortable: true,
                    },
                    ip_internal_number: {
                        label: "IP",
                        sortable: true,
                    },
                    labels: {
                        label: "Метки",
                        sortable: true,
                    },
                    //   u_labels: {},
                    u_date_update: {
                        label: "Дата обновления",
                        sortable: true,
                    },
                    cabinet_created: {
                        label: "Кабинет",
                        sortable: true,
                    },
                    cabinet_created_date: {
                        label: "Дата создания кабинета",
                        sortable: true,
                    },
                    //    nationality_id: {},
                    nationality: {
                        label: "Национальность",
                        sortable: true,
                    },
                    u_manager_status: {
                        label: "Статус менеджера",
                        sortable: true,
                    },
                    manager: {
                        label: "Менеджер",
                        sortable: true,
                    },
                    /*   manager_id: {},
                       u_manager_id: {},*/
                    /*              created_at: {},
                                  updated_at: {},*/
                },
                u_types: {
                    1: "физ.лицо",
                    2: "юр.лицо",
                    3: "турагентство",
                },
                u_forms: {
                    1: "Mr",
                    2: "Mrs",
                    3: "Miss",
                    4: "Child",
                    5: "Infant"
                },
                perPage: 15,
                currentPage: 1,
                totalRows: null,
            }
        },
        computed: {
            apiUrl() {
                let getRoute = this.getRoute();
                return getRoute('uon.clients.list').api;
            }
        },
        methods: {
            ...mapGetters('core', ['getRoute']),
            ...mapGetters('Repository', ['getById', 'getTotal']),
            ...mapActions('Repository', ['setEntityType', 'getByPage', 'updateProperty', 'updateEntity', 'updateLocal']),
            ...mapActions('uon/clients', ['updateEmail', 'updatePhone']),
            //   ...mapMutations('uon/clients', {updateClientStore: 'UPDATE_CLIENT_PROPERTY'}),
            getClients(context, callback) {
                this.getByPage({context, callback});
                return null;
            },
            getClean(item, name) {
                return item.clean_result ? item.clean_result[name] : null;
            },
            getUType(u_type) {
                return this.u_types[u_type];
            },
            getTouristKind(tourist_kind) {
                return this.u_forms[tourist_kind];
            },
            getSexClass(item) {
                let fio = this.getClean(item, 'fio');
                return [
                    fio && fio.gender === this.getSex(item.u_sex) ? 'text-danger' : '',
                    'text-uppercase'];
            },
            getSex(u_sex) {
                return u_sex === 1 ? "м" : (u_sex === 2 ? "ж" : "");
            },
            getCleanSurName(item) {
                return item.clean_result ? item.clean_result.fio.surname : null;
            },
            getCleanName(item) {
                return item.clean_result ? item.clean_result.fio.name : null;
            },
            getCleanSName(item) {
                return item.clean_result ? item.clean_result.fio.patronymic : null;
            },
            updateFullname(id, event) {
                this.updateClient({
                    id: id,
                    index_name: 'u_id',
                    fields: [
                        {key: "u_surname", value: event.last_name},
                        {key: "u_name", value: event.first_name},
                        {key: "u_sname", value: event.middle_name},
                    ]
                });
            },
            updateClient(payload) {
                payload.index_name = 'u_id';
                this.updateProperty(
                    payload
                );
                this.$refs['client-table'].refresh();
            }
        },
        mounted() {
            this.setEntityType('client');
        }
    }
</script>

<style lang="scss">
    .min-w-100 {
        min-width: 100px;
    }

    .client-row {
        td {
            min-width: 80px;
        }
    }

    .client-list {
        font-size: 0.8rem;
    }
</style>
