<template>
    <div class="client-list">
        <b-pagination
            v-model="currentPage"
            :total-rows="getTotal()"
            :per-page="perPage"
            aria-controls="client-table"
        ></b-pagination>
        <p class="mt-3">Current Page: {{ currentPage }}</p>
        <b-table
            ref="client-table"
            :items="getDeals"
            :fields="requestFields"
            :api-url="apiUrl"
            id="client-table"
            :per-page="perPage"
            :current-page="currentPage"
            small
            :bordered="true"
            :foot-clone="true"
            primary-key="u_id"
            :tbody-tr-class="'client-row'"
        >
            <template slot="services" slot-scope="data">
                <b-table
                    :borderless="true"
                    :items="data.value"
                    :fields="serviceFields"
                ></b-table>
            </template>
        </b-table>
        <b-pagination
            v-model="currentPage"
            :total-rows="getTotal()"
            :per-page="perPage"
            aria-controls="client-table"
        ></b-pagination>
        <p class="mt-3">Current Page: {{ currentPage }}</p>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';

    export default {
        name: "DealList",
        data() {
            return {
                perPage: 15,
                currentPage: 1,
                totalRows: null,
                requestFields: {
                    id: {},
                    services: {label:"Состав"},
                    reservation_number: {label:"Бронь"},
                    supplier:{key:"supplier.name",label:"Туроператор"},
                    dat:{label:"dat"},
                    dat_request:{label:"dat_request"},
                    dat_lead:{label:"dat_lead"},
                    office:{label:"Офис"},
                    manager:{key:"manager.full_name",label:"Менеджер"},
                    visa_id:{label:"Виза"},
                    insurance_id:{label:"insurance"},
                    client:{key:"client.full_name",label:"Клиент"},
                    date_begin:{label:"Дата начала"},
                    date_end:{label:"Дата конца"},
                    source:{key:"source.rs_name",label:"Источник"},
                    travel_type:{key:"travel_type.name",label:"Тип тура"},
                    status:{key:"status.name",label:"Статус"},
                    calc_price_netto:{label:"Себестоимость"},
                    calc_price:{label:"Стоимость"},
                    partner_currency:{key:"partner_currency.name",label:"Валюта поставщика"},
                    client_currency:{key:"client_currency.name",label:"Валюта клиента"},
                    calc_increase:{label:"calc_increase"},
                    calc_decrease:{label:"calc_decrease"},
                    calc_client:{label:"calc_client"},
                    calc_partner:{label:"calc_partner"},
                    client_requirements_country:{label:"Запрашиваемые страны"},
                    client_requirements_date_from:{label:"Запрашиваемая дата от"},
                    client_requirements_date_to:{label:"Запрашиваемая дата до"},
                    client_requirements_days_from:{label:"Запрашиваемая продолжительность от"},
                    client_requirements_days_to:{label:"Запрашиваемая продолжительность до"},
                    client_requirements_stars:{label:"Запрашиваемая звездность"},
                    client_requirements_nutrition:{label:"Запрашиваемое питание"},
                    client_requirements_adult_count:{label:"Запрашиваемое кол-во взрослых"},
                    client_requirements_child_count:{label:"Запрашиваемое кол-во детей"},
                    client_requirements_baby_count:{label:"Запрашиваемое кол-во младенцев"},
                    client_requirements_child_age:{label:"Запрашиваемый возраст детей"},
                    client_requirements_budget:{label:"Запрашиваемый бюджет"},
                    client_requirements_note:{label:"Заметки по запросу"},
                    dat_updated:{label:"Дата обновления"},
                    created_at:{label:"Дата создания"},
                    crated_by:{label:"Кем создана"},
                    notes:{label:"Заметки"},
                    bonus_limit:{label:"Лимит бонуса"},
                    company:{label:"Компания"},
                    payment_deadline_client:{label:"Срок оплаты"},
                    dat_close:{label:"Дата закрытия"},
                },
                serviceFields: {
                    service_type_id: {key:"type.name",label:"Тип услуги"},
                    in_package: {label:"В пакете"},
                    description: {label: "Описание"},
                    date_begin: {label: "Дата начала"},
                    date_end: {label: "Дата окончания"},
                    duration: {label: "Продолжительность"},
                    course: {label: "Курс"},
                    price_netto: {label: "Себестоимость"},
                    rate_netto: {},
                    currency_netto: {label:"Валюта себестоимости"},
                    price: {label: "Стоимость"},
                    rate: {},
                    currency: {label: "Валюта"},
                    discount: {label: "Скидка"},
                    discount_in_percent: {label: "Скидка, %"},
                    tourists_count: {label: "Количество туристов"},
                    tourists_child_count: {label: "Количество детей"},
                    tourists_baby_count: {label: "Количество младенцев"},
                    country: {label: "Страна"},
                    city: {label: "Город"},
                    hotel: {label: "Отель"},
                    nutrition: {label: "Питание"},
                    partner: {label: "Партнер"},
                }
            }
        },
        computed: {
            apiUrl() {
                let getRoute = this.getRoute();
                return this.getIsFailed() ? getRoute('uon.deals.failed').api : getRoute('uon.deals.list').api;
            }
        },
        methods: {
            ...mapGetters('core', ['getRoute']),
            ...mapGetters('uon/deals', [ 'getIsFailed']),
            ...mapGetters('Repository', ['getById', 'getTotal']),
            ...mapActions('Repository', ['setEntityType', 'getByPage', 'updateProperty', 'updateEntity', 'updateLocal']),
            getDeals(context, callback) {
                this.getByPage({context, callback});
                return null;
            },
        },
        mounted() {
            this.setEntityType('deal');
        }
    }
</script>

<style scoped>

</style>
