<template>
    <div class="text-nowrap d-flex justify-content-between">
        <template v-if="!editMode">
                <span :class="textAria?'big-text':''">{{value}}</span>
            <i class="material-icons"
               @click="onEdit"
               title="Изменить">edit</i>
        </template>
        <template v-else>
            <b-input-group >
                <b-input  autofocus :value="value" size="sm"
                         @update="newValue = $event"
                         @keyup.enter.native="onSave"
                         @keyup.esc.native="onCancel"
                ></b-input>
                <b-input-group-append>
                    <b-button variant="outline-success" @click="onSave" size="sm">
                        <i class="material-icons" title="Сохранить">save</i>
                    </b-button>
                </b-input-group-append>
            </b-input-group>
        </template>
    </div>
</template>

<script>
    export default {
        name: "Editable",
        props:['value','textAria'],
        data(){
            return {
                newValue:null,
                editMode:false,
            }
        },
        methods:{
            onEdit() {
                this.newValue = this.value;
                this.editMode = true;
            },
            onSave() {
                this.editMode = false;
                this.$emit('update:value', this.newValue);
            },
            onCancel() {
                this.editMode = false;
            }
        }
    }
</script>

<style scoped>
    .big-text {
        width: 200px;
        white-space: pre-line;
    }
</style>
