<template>
    <div class="text-nowrap d-flex justify-content-between">
        <template v-if="!editMode">
            <span>{{value}}</span>
            <i class="material-icons"
               @click="onEdit"
               title="Изменить">edit</i>
        </template>
        <template v-else>
            <b-input-group>
                <b-input autofocus type="date" :value="value | date" size="sm" @update="newValue = $event"
                         @keyup.enter.native="onSave"
                         @keyup.esc.native="onCancel"
                ></b-input>
                <b-input-group-append>
                    <b-button variant="outline-success" @click="onSave" size="sm">
                        <i class="material-icons" title="Сохранить">save</i>
                    </b-button>
                </b-input-group-append>
            </b-input-group>
        </template>
    </div>
</template>

<script>
    export default {
        name: "EditDate",
        props: ["value","alt"],
        data(){
            return {
                editMode: false,
                newValue:null,
            }
        },
        filters:{
          date(value){
              let parts = value.split('.');
            return `${parts[2]}-${parts[1]}-${parts[0]}`;
          },
        },
        methods:{
            normalFormat(date){
                let parts = date.split('-');
                return parts.length === 3 ? `${parts[2]}.${parts[1]}.${parts[0]}`: date;
            },
            onEdit() {
                this.newValue = this.value;
                this.editMode = true;
            },
            onSave() {
                this.editMode = false;
                this.$emit('update:value', this.normalFormat(this.newValue));
            },
            onCancel() {
                this.editMode = false;
            }
        }
    }
</script>

<style scoped>

</style>
