<template>
    <div>
        <ul class="list-unstyled">
            <li v-for="email in emails" :class="getStyle(email)">
                <editable :value="email.address" @update:value="updateEmail(email, $event)"></editable>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import Editable from "./Editable";

    export default {
        name: "EmailList",
        components: {Editable},
        props: ['emails'],
        methods: {
            ...mapGetters('core', ['getHttp', 'getRoute']),
            getStyle(email){
                if (email.is_valid === null) return null;
                if (email.is_valid) {
                    if (email.is_real) return null;
                    else return "text-secondary";
                } else return  "text-danger";
            },
            updateEmail(email, event) {
                let http = this.getHttp();
                let route = this.getRoute()('email.update');
                let fields = [
                    {key: "address", value: event}
                ];
                http({
                    method: route.method,
                    url: route.api.replace(':id', email.id),
                    data: {
                        'entity': 'email',
                        'id': email.id,
                        fields
                    },
                }).then(data => {
                    this.$emit('update:email', this.emails.map((email) => {
                        if (email.id === data.data.email.id)
                            return data.data.email;
                        return email;
                    }));
                })
                    .catch(() => {
                        //TODO show error
                    });
            }
        }
    }
</script>

<style scoped>

</style>
