<template>
    <div class="fullname">
        <replace-or-edit-full-name
            :value="fullname"
            :alt="clean_name"
            @update:value="$emit('update:fullname',$event)"
        ></replace-or-edit-full-name>
        <b-button :id="'fullname-info-'+item.id" variant="info" size="sm" v-if="clean_status">i</b-button>
        <b-popover :target="'fullname-info-'+item.id" triggers="click" v-if="clean_status">
            <template slot="title">Доп инфо</template>
            <dl>
                <dt>Результат проверки</dt>
                <dd>{{clean_state}}</dd>
            </dl>
            <dl>
                <dt>Пол</dt>
                <dd>{{this.item.clean_result.fio.gender}}</dd>
            </dl>
        </b-popover>
    </div>
</template>

<script>
    import ReplaceOrEdit from "./ReplaceOrEdit";
    import ReplaceOrEditFullName from "./ReplaceOrEditFullName";
    export default {
        name: "FullName",
        components: {ReplaceOrEditFullName, ReplaceOrEdit},
        props: {
            item: {
                type: Object
            }
        },
        data() {
            return {};
        },
        computed: {
            clean_state() {
                switch (this.item.clean_result.fio.qc) {
                    case 0:
                        return "Исходное значение распознано уверенно";
                    case 1:
                        return "Исходное значение распознано с допущениями или не распознано";
                    case 2:
                        return "Исходное значение пустое или заведомо «мусорное»";
                }
            },
            clean_status() {
                return this.clean_name === null ? null :
                    (this.clean_name !== this.fullname);
            },
            fullname() {
                return `${this.item.u_surname ? this.item.u_surname : ''} ${this.item.u_name ? this.item.u_name : ''} ${this.item.u_sname ? this.item.u_sname : ''}`
            },
            clean_name() {
                if (!this.item.clean_result || this.item.clean_result.fio.qc === 2) return null;
                return this.item.clean_result.fio.result;
            }
        },
    }
</script>

<style scoped>
    .fullname {
        min-width: 300px;
    }
</style>
