<template>
    <!--<pre>{{data}}</pre>-->
</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        name: "InitData",
        props: ["data"],
        methods: {
            ...mapActions('auth',[
                'setUser',
            ]),
            ...mapActions('uon/deals',['setDealsInfo'])
        },
        created(){
            if (this.data) {
                if (this.data.user) {
                    this.setUser(this.data.user);
                }
                if (this.data.deals) {
                    this.setDealsInfo(this.data.deals);
                }
            }
        }
    }
</script>

<style scoped>

</style>
