<template>
    <div>
        {{manager.u_surname}} {{manager.u_name}} {{manager.u_sname}}
    </div>
</template>

<script>
    export default {
        name: "ManagerShort",
        props: ['manager'],

    }
</script>

<style scoped>

</style>
