<template>
    <div>
        <dl>
            <dt>Номер</dt>
            <dd>
                <editable :value="item.u_zagran_number"
                          @update:value="$emit('update:passport',{
                    id:item.u_id,
                    key:'u_zagran_number',
                    value: $event
                })"></editable>
            </dd>
            <dt>Выдан</dt>
            <dd>
                <edit-date :value="item.zagran_given"
                          @update:value="$emit('update:passport',{
                    id:item.u_id,
                    key:'zagran_given',
                    value: $event
                })"></edit-date>
            </dd>
            <dt>Заканчивается</dt>
            <dd>
                <edit-date :value="item.zagran_expired"
                          @update:value="$emit('update:passport',{
                    id:item.u_id,
                    key:'zagran_expired',
                    value: $event
                })"></edit-date>
            </dd>
            <dt>Кем выдан</dt>
            <dd>
                <editable :value="item.u_zagran_organization"
                          :text-aria="true"
                          @update:value="$emit('update:passport',{
                    id:item.u_id,
                    key:'u_zagran_organization',
                    value: $event
                })"></editable>
            </dd>
        </dl>
    </div>
</template>

<script>
    import Editable from "./Editable";
    import EditDate from "./EditDate";

    export default {
        name: "PassportZagran",
        components: {EditDate, Editable},
        props: ['item'],

    }
</script>

<style scoped>

</style>
