<template>
    <div>
        <dl>
            <dt>Номер</dt>
            <dd>
                <replace-or-edit
                :value="item.u_passport_number"
                :alt="clean_val"
                :attention="need_check"
                @update:value = "updateNumber"
                >
                </replace-or-edit>
            </dd>
            <dt>Выдан</dt>
            <dd><editable :value="item.passport_date" @update:value="updateDate"></editable></dd>
            <dt>Кем выдан</dt>
            <dd>
                <replace-or-edit
                    :text-aria="true"
                    :value="item.u_passport_taken"
                    :alt="taken_variants"
                    :attention="need_check_taken"
                    @update:value = "updateTaken"
                >
                </replace-or-edit>
            </dd>
        </dl>
        <b-button :id="`passport-info-${item.id}`" variant="info" size="sm" v-if="clean_val">i</b-button>
        <b-popover :target="`passport-info-${item.id}`" triggers="click" v-if="clean_val">
            <template slot="title">Доп инфо</template>
            <dl>
                <dt>Результат проверки</dt>
                <dd>{{clean_state}}</dd>
                <dt>Серия</dt>
                <dd>{{clean.series}}</dd>
                <dt>Номер</dt>
                <dd>{{clean.number}}</dd>
            </dl>
            <dl>
            </dl>
        </b-popover>
    </div>
</template>

<script>
    import ReplaceOrEdit from "./ReplaceOrEdit";
    import Editable from "./Editable";
    export default {
        name: "passport_ru",
        components: {Editable, ReplaceOrEdit},
        props: {
            item: Object,
        },
        data() {
            return {
                need_check: false,
                need_check_taken:false,
            }
        },
        computed: {
            clean() {
                return this.item.clean_result ? this.item.clean_result.passport : {qc:2};
            },
            clean_state() {
                switch (this.clean.qc) {
                    case 0: {
                        return "Действующий паспорт";
                    }
                    case 2: {
                        return "Исходное значение пустое";
                    }
                    case 1: {
                        this.need_check = true;
                        return "Неправильный формат серии или номера";
                    }
                    case 10: {
                        this.need_check = true;
                        return "Недействительный паспорт";
                    }
                }
            },
            taken_variants(){
                return null
            },
            clean_status() {
                return this.clean_val === null ? null :
                    (this.clean_val.replace(/[ \s]/g, '') != this.item.u_passport_number.replace(/[ \s]/g, ''));
            },
            clean_val() {
                return this.clean.qc !== 2 ? `${this.clean.series} ${this.clean.number}` : ``;
            },
        },
        methods:{
            updateTaken($event){
                this.$emit("update:passport",{
                    id:this.item.u_id,
                    key:'u_passport_taken',
                    value: $event
                });
            },
            updateDate($event){
                this.$emit("update:passport",{
                    id:this.item.u_id,
                    key:'passport_date',
                    value: $event
                })
            },
            updateNumber($event){
                this.$emit("update:passport",{
                    id:this.item.u_id,
                    key:'u_passport_number',
                    value: $event
                });
            }
        }
    }
</script>

<style scoped>

</style>
