<template>
    <div v-if="phone">
        <replace-or-edit
            :value="phone.full_phone"
            :alt="clean_phone"
            @update:value="updatePhone"
        >
        </replace-or-edit>
        <b-button :id="'phone-info-'+type+phone.id" variant="info" size="sm" v-if="showInfo">i</b-button>

        <b-popover :target="'phone-info-'+type+phone.id" triggers="click" v-if="showInfo">
            <template slot="title">Доп инфо</template>
            <dl>
                <dt>Результат проверки</dt>
                <dd>{{clean_state}}</dd>
                <dt>Телефон</dt>
                <dd>{{phone.phone}}</dd>
                <dt>Номер</dt>
                <dd>{{phone.number}}</dd>
                <dt>Регион</dt>
                <dd>{{phone.region}}</dd>
                <dt>Провайдер</dt>
                <dd>{{phone.provider}}</dd>
                <dt>Временная зона</dt>
                <dd>{{phone.timezone}}</dd>
                <dt>Код страны</dt>
                <dd>{{phone.country_code}}</dd>
                <dt>Код города</dt>
                <dd>{{phone.city_code}}</dd>
                <dt>Дополнительный</dt>
                <dd>{{phone.extension}}</dd>
                <dt>Конфликт с адресом</dt>
                <dd>{{conflict_status}}</dd>

            </dl>
            <dl>
            </dl>
        </b-popover>
    </div>
</template>

<script>
    import ReplaceOrEdit from "./ReplaceOrEdit";

    export default {
        name: "phone",
        components: {ReplaceOrEdit},
        props: {
            phone: Object,
            type: {
                type: String,
                default: "contact",
            }
        },
        data() {
            return {
                need_check: false
            }
        },
        computed: {
            showInfo() {
                return this.phone.qc !== null;
            },
            clean_state() {
                switch (this.phone.qc) {
                    case 0: {
                        return "Российский телефон, распознан уверенно";
                    }
                    case 7: {
                        return "Иностранный телефон, распознан уверенно";
                    }
                    case 2: {
                        return "Телефон пустой или заведомо «мусорный»";
                    }
                    case 1: {
                        this.need_check = true;
                        return "Телефон распознан с допущениями или не распозна";
                    }
                    case 3: {
                        this.need_check = true;
                        return "Обнаружено несколько телефонов, распознан первы";
                    }
                }
            },
            clean_phone() {
                return this.phone.qc === null ? null :
                    `${this.phone.country_code} ${this.phone.city_code} ${this.phone.phone}`
            },
            clean_status() {
                return this.qc === null ? null :
                    this.phone.full_phone === this.clean_phone;
            },
            conflict_status() {
                switch (this.phone.qc_conflict) {
                    case 0: {
                        return "Телефон соответствует адресу";
                    }
                    case 2: {
                        this.need_check = true;
                        return "Города адреса и телефона отличаются";
                    }
                    case 3: {
                        this.need_check = true;
                        return "Регионы адреса и телефона отличаются";
                    }
                }
            },


        },
        methods: {
            updatePhone(event) {
                let phone = {...this.phone};
                let http = this.getHttp();
                let route = this.getRoute()('phone.update');
                let fields = [
                    {key: "full_phone", value: event}
                ];
                http({
                    method: route.method,
                    url: route.api.replace(':id', phone.id),
                    data: {
                        'entity': 'phone',
                        'id': phone.id,
                        fields
                    },
                }).then(data => {
                    this.$emit('update:phone', data.data.phone);
                })
                    .catch(() => {
                        //TODO show error
                    });
            }
        }
    }
</script>

<style scoped>

</style>
