<template>
    <div>
        <editable :value="value" :text-aria="textAria" @update:value="$emit('update:value', $event)"></editable>
        <div :class="altClasses" v-if="alt">
            <span>{{alt}}</span>
            <i class="material-icons text-success"
               @click="onAccept"
               title="Использовать">check</i>
        </div>
    </div>
</template>

<script>
    import Editable from "./Editable";
    export default {
        name: "ReplaceOrEdit",
        components: {Editable},
        props: {
            value: {
                required: true
            },
            alt: {
                default: null
            },
            attention: {
                default: false,
            },
            textAria: {
                default:false
            }
        },
        computed: {
            altClasses() {
                return [
                    'text-nowrap',
                    'd-flex',
                    'justify-content-between',
                    (this.attention || this.notEq) ? 'text-danger' : 'text-muted',
                ];
            },
            notEq() {
                if (!this.alt) return false;
                if (!this.value) return true;
                return this.value.replace(/[ \s,.]/g, '') != this.alt.replace(/[ \s,.]/g, '')
            }
        },
        methods: {
            onAccept() {
                this.$emit('update:value', this.alt);
            }
        }
    }
</script>

<style scoped>

</style>
