<template>
    <div>
        <div class="text-nowrap d-flex justify-content-between">
            <template v-if="!editMode">
                <span>{{value}}</span>
                <i class="material-icons"
                   @click="onEdit"
                   title="Изменить">edit</i>
            </template>
            <template v-else>
                <b-input-group>
                    <b-input :value="last_name" @update="l_name = $event" size="sm"
                             @keyup.enter.native="onSave"></b-input>
                    <b-input :value="first_name" @update="f_name = $event" size="sm" @keyup.enter.native="onSave"></b-input>
                    <b-input :value="middle_name" size="sm" @update="m_name = $event"
                             @keyup.enter.native="onSave"></b-input>
                    <b-input-group-append>
                        <b-button variant="outline-success" @click="onSave" size="sm">
                            <i class="material-icons" title="Сохранить">save</i>
                        </b-button>
                    </b-input-group-append>
                </b-input-group>
            </template>
        </div>
        <div :class="altClasses" v-if="alt">
            <span>{{alt}}</span>
            <i class="material-icons text-success"
               @click="onAccept"
               title="Использовать">check</i>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReplaceOrEditFullName",
        props: ["value","alt"],
        data(){
          return {
              editMode:false,
              f_name:null,
              m_name:null,
              l_name:null,
          }
        },
        computed:{
            altClasses() {
                return [
                    'text-nowrap',
                    'd-flex',
                    'justify-content-between',
                    (this.attention || this.notEq) ? 'text-danger' : 'text-muted',
                ];
            },
            notEq() {
                if (!this.alt) return false;
                if (!this.value) return true;
                return this.value.replace(/[ \s,.]/g, '') != this.alt.replace(/[ \s,.]/g, '')
            },
            first_name(){
                return this.value.split(/[ \s,]/)[1];
            },
            middle_name(){
                return this.value.split(/[ \s,]/)[2];
            },
            last_name(){
                return this.value.split(/[ \s,]/)[0];
            }
        },
        methods:{
            onEdit(){
                this.editMode = true;
            },
            onSave(){
                this.editMode = false;
                this.$emit('update:value', {
                    first_name: this.f_name || this.first_name,
                    middle_name: this.m_name || this.middle_name,
                    last_name: this.l_name || this.last_name,
                });
            },
            onAccept(){
                this.$emit('update:value', {
                    first_name: this.alt.split(/[ \s,]/)[1],
                    middle_name: this.alt.split(/[ \s,]/)[2],
                    last_name: this.alt.split(/[ \s,]/)[0],
                });
            }
        }
    }
</script>

<style scoped>

</style>
